html{
	background-color: #F4F5F7;
	overflow-wrap: anywhere;
}
ul, table{
	margin: 0;
	padding-inline-start: 2em;
}
table{
	border-spacing: 0;
	display: block;
}
li{
	list-style-type: none;
}
td, th{
	text-align: left;
	vertical-align: top;
	padding: 0;
	font-weight: normal;
}
table.spaced td{
	padding-left: 1em;
}
li:before, th:before{
	content: '・';
	color: #888;
}
input[type="number"]{
	width: 4em;
}